
body {
  text-align: center;
  background-color: #f5f4f0;
}

h1 {
  width: 80%;
  background-color: #5ec9ff;
  color: #f0f7fa;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

.container {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.post {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 80%;
  box-shadow: 2px 2px 3px;
  display:inline-block;
  border-radius: 15px;
}

.about {
  background-color: #9aeddb;
  font-family: fantasy;
  font-style: oblique;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
  position: absolute;
  margin-left: 15%;
  margin-right: 15%;
  bottom: 0;
}
